<% layout("layouts/boilerplate") %>

<div class="container mt-5">
  <h2 class="mb-4" style="text-align: center;">Available Subscription Plans</h2>
  <form method="POST" action="/subscribe/select">
    <div class="row">
      <% plans.forEach(plan => { %>
        <div class="col-md-4 mb-3 mt-5" style="text-align: center; ">
          <div class="card h-100" style="background-color: black; color: white;">
            <div class="card-body">
            <p class="card-title fs-4 fw-semibold mb-3" style="color: orange;"><b><%= plan.name %></b></p>
              <p class="card-text fs-5 mb-4">Price: Price: ₹<%=plan.price%></p>
              <p>Credits: <%= plan.credits %></p>
              <p class="card-text  mb-4"><%= plan.description %></p>
              <button type="submit" name="planId" value="<%= plan.id %>" class="btn  btn-lg mt-auto rounded-pill fs-5" style="background-color: orange;">Select Plan</button>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </form>
</div>
